import pytest

from aiolambda.app import get_app

from {{ project_name }}.db import init_db


@pytest.fixture
def cli(loop, aiohttp_client):
    app = get_app(init_db)
    return loop.run_until_complete(aiohttp_client(app.app))


async def test_ping(cli):
    resp = await cli.get('/v1/ping')
    assert resp.status == 200
    assert await resp.json() == 'pong'
