from aiohttp.web import Request, Response, RouteTableDef

from aiolambda import logger
from aiolambda.functools import compose

from {{ project_name }}.response import return_200

routes = RouteTableDef()


@routes.get('/ping')
async def ping_handler(request: Request) -> Response:
    return compose(
        logger.debug,
        return_200)('pong')
